<div class="container ">
    <div class="card shadow-sm ">
      <div class="card-header text-white">
         <h2 class="card-title mb-0">Test Types</h2>
        </div>
        <div class="card-body">
            <!-- Table -->
            <table class="table table-hover table-striped">
                <thead >
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Fees</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let type of TestTypes">
                    <td>{{ type.testTypeID}}</td>
                    <td>{{ type.testTypeTitle }}</td>
                    <td class="Description">{{ type.testTypeDescription }}</td>
                    <td>${{ type.testTypeFees }}</td>
                    <td>
                    <button class="btn btn-outline-primary btn-sm" (click)="onUpdate(type)">
                        Update
                    </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="card-footer text-muted text-center">
                Showing {{ TestTypes.length }} application types
            </div>
            <div *ngIf=" TestTypes.length === 0" class="alert alert-info text-center">
                No application types found.
            </div>
        </div>
</div>  

  
