<div class="container mt-5">
  <h2 class="text-center mb-4">People Management</h2>

  <!-- Search Bar -->
<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Search by National No..."
        [(ngModel)]="searchQuery"
        (input)="filterPeople()"
      />
      <button  class="btn btn-outline-secondary" type="button" (click)="filterPeople()">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
</div>

<div class="button-container">
  <button routerLink="New-Person" class="btn btn-primary mb-3  " >
      <i class="fas fa-plus"></i> Add New Person
    </button>
</div>


  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>National No</th>
          <th>Full Name</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of filteredPeople; let i = index">
          <td>{{ person.nationalNo }}</td>
          <td>{{ person.firstName + ' '  + person.secondName + ' ' + person.thirdName + ' ' + person.lastName }}</td>
          <td>{{ person.address }}</td>
          <td>{{ person.phone }}</td>
          <td>{{ person.email }}</td> 
          <td >
              <!-- Update Button -->
              <button class="btn btn-sm btn-outline-primary mr-2 me-2" (click)="GoToUpdatePersonCompoent(person.personID)">
                <i class="fas fa-edit"></i> Update
              </button>
              <!-- Delete Button -->
              <button class="btn btn-sm btn-outline-danger" (click)="deletePerson(person.personID)">
                <i class="fas fa-trash"></i> Delete
              </button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
